@import url("https://fonts.googleapis.com/css2?family=Geist:wght@325&display=swap");

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    background-color: #82add5;
    font-family: "Geist", sans-serif;
    font-size: 1.2625rem;
    color: #f7f4f0;
}

*:hover {
    cursor: default;
}

html {
    scrollbar-width: none;
}

body {
    overflow-y: auto;
    -ms-overflow-style: none;   /* IE, Edge */
    scrollbar-width: none;      /* Firefox */
}

body::-webkit-scrollbar, body::-webkit-scrollbar-button {
    display: none;              /* Chrome, Safari */
}

.home {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding: 20vh 20vh;

    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.solid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 60vh;
}

.liquid-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 60vh;
}

.liquid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: fit-content;
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 1.75rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar > * {
    padding-bottom: 0.25rem;
    border-bottom: 2px dashed #f7f4f0c2;
    transition: border-bottom-color 0.25s ease;
}

.navbar > *:hover {
    border-bottom: 2px dashed #f7f4f0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

br {
    user-select: none;
}

.teacher {
    font-size: 0.85em;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    color: gainsboro;
}

b {
    font-size: 1.1em;
}

.course {
    font-size: 0.875em;
}

th {
    font-weight: 300;
}

li {
    font-size: 0.875em;
}